name: CI

on:
  push:
    branches:
    - master
  pull_request:

jobs:
  build-linux-x8664:
    name: Linux x86_64
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler: [gcc, clang]

    steps:
    - name: Checkout ksw
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Compile with ${{ matrix.compiler }}
      run: |
        make CC=${{ matrix.compiler }} -j 4
        file ksw | grep x86-64

  build-linux-aarch64:
    name: Linux aarch64
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        compiler: [gcc]

    steps:
    - name: Checkout ksw
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Compile with ${{ matrix.compiler }}
      run: |
        make CC=${{ matrix.compiler }} arm_neon=1 aarch64=1 -j 4
        file ksw | grep aarch64

  build-mac-arm64:
    name: Mac ARM64
    runs-on: macos-14
    strategy:
      matrix:
        compiler: [clang]

    steps:
    - name: Checkout ksw
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Compile with ${{ matrix.compiler }}
      run: |
        make CC=${{ matrix.compiler }} arm_neon=1 aarch64=1 -j 4
        file ksw | grep arm64
        
  tests:
    name: Tests
    runs-on: macos-14
    strategy:
      matrix:
        compiler: [clang]

    steps:
    - name: Checkout ksw
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'

    - name: Compile with ${{ matrix.compiler }}
      run: |
        make CC=${{ matrix.compiler }} arm_neon=1 aarch64=1 -j 4

    - name: Run tests
      run: |
        make test
